<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
   
<head>
    <meta charset="utf-8" />
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>    
<body>
    <div align="center">
        <form th:action="@{/list/coursereg}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Course Registration Details</button>
        </form>
        <h1>Add Course Registration</h1>
        <br />
        <form action="#" th:action="@{/add/coursereg}" th:object="${coursereg}" method="post">
            <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>Mat No:</td>
                <td><input type="text" th:field="*{matno}" /></td>
            </tr>
            <tr>
                <td>Course Code:</td>
                <td><input type="text" th:field="*{coursecode}" /></td>
            </tr>
            <tr>
                <td>Term:</td>
                <td><input type="text" th:field="*{term}" /></td>
            </tr>    
            
                
            <tr>
                <td>Academic Session:</td>
                <td><input type="text" th:field="*{academicsession}" /></td>
            </tr>
                
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
            </table>
        </form>
    </div>
</body>
</html>